.main {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    
}

.nav {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    align-items: flex-start;
    
}

.nav-1 {
    flex-grow: 1;
}

.nav-2 {
    align-items: flex-end;
}

input[type=submit] {
    background-color: #f8f9fa;
}

.crop {
    height: 300px;
    overflow: hidden;
}

.adv-nav {
    display: flex;
    justify-content: space-between;
}

#advanced {
    color: red;
    font-family: arial,sans-serif;
    font-size: 20px;
}

.bar {
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
    margin-bottom: 20px;
}
.many-options {
    margin: 40px 2% 0 45px;
}
#advanced-options {
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-direction: column;
    
}