.main {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    
}

.nav {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    align-items: flex-start;
    
}

.nav-1 {
    flex-grow: 1;
}

.nav-2 {
    align-items: flex-end;
}

input[type=submit] {
    background-color: #f8f9fa;
}

.crop {
    height: 300px;
    overflow: hidden;
}